<h1>Bot#goodbye</h1>
<p>Find me in app/views/bot/goodbye.html.erb</p>

<p>
	<%= link_to "Hello", bot_hello_path %>!
</p>

<!-- shows all files local to our rails app  -->
<%= @files = Dir.glob('*') %> <br><br> 

<% for file in @files %> <%= file + ', ' %>
<% end %>



